<div>
  <div class="modal-header">
    <button type="button"
            class="close"
            ng-click="$ctrl.cancel()"
            data-dismiss="modal"
            aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3>{{$ctrl.headerTitle}}</h3>
  </div>
  <div class="modal-body">
    <form name="form" novalidate>
      <div class="form-group">
        <table>
          <tr>
            <td class="">Название:</td>
            <td>
              <div>
                <input type="text" class="form-control" name="name" ng-model="$ctrl.bus.FriendlyName" required="required" />
                <span class="error" ng-show="!form.name.$valid && form.name.$dirty">Это поле обязательное</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Количество мест: </td>
            <td>
              <div>
                <input class="form-control" name="count" ng-model="$ctrl.bus.PlacesCount" type="number" required="required" />
                <span class="error" ng-show="!form.count.$valid && form.count.$dirty">Это поле обязательное</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>Регистрационный номер: </td>
            <td>
              <div>
                <input type="text" class="form-control" ng-model="$ctrl.bus.RegistrationNumber" />
              </div>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="$ctrl.cancel()">Отмена</button>
    <button class="btn btn-primary" ng-disabled="!form.name.$valid || !form.count.$valid" ng-click="$ctrl.ok(bus);">Сохранить</button>
  </div>
</div>