<div class="col-xs-12 col-sm-6">
    <table>
        <tr ng-repeat="client in $parent.$ctrl.trip.tripClients">
            <td class="col-md-4"> {{client.Name}} </td>
            <td class="col-md-4"> {{client.Phone}} </td>
            <td class="col-md-4"> {{client.From}} </td>
            <td class="col-md-4"> {{client.To}} </td>
            <td class="col-md-4"> {{client.price}} </td>
            <td class="col-md-4">
                <a ng-click="$ctrl.removeFromTrip(client)">Удалить </a>
            </td>
        </tr>
    </table>
    <p>
        <span>
            Поиск клиентов:
            <input class="form-control" ng-model="$ctrl.clientFilter" />
        </span>
        <span>
            Сортировать:
            <select class="form-control" ng-model="$ctrl.orderProp">
                <option value="Name">По алфавиту</option>
                <option value="Id">По дате добавления</option>
            </select>
        </span>
    </p>
    <ul class="Clients">
        <li ng-repeat="client in $ctrl.clients | orderBy:$ctrl.orderProp" class="thumbnail client-list-item">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="client-link" href="/clients/{{client.Id}}">{{client.Name}}</a>
                    <p>{{client.Comments}}</p>
                    <p>{{client.Phone}}</p>
                </div>

                <!--Dont use form here, because this template is inside parent form-->
                <div class="col-sm-offset-1 col-xs-7">
                    <label>
                        Откуда:
                        <select class="form-control" ng-model="client.From">
                            <option ng-repeat="city in $ctrl.cities" value="{{city.Name}}">{{city.Name}}</option>
                        </select>
                    </label>

                    <label>
                        Куда:
                        <select class="form-control" ng-model="client.To">
                            <option ng-repeat="city in $ctrl.cities" value="{{city.Name}}">{{city.Name}}</option>
                        </select>
                    </label>

                    <label>
                        Цена:
                        <input type="number" class="form-control" ng-model="client.Price" />
                    </label>

                    <label>
                        Доп. расходы:
                        <input type="number" class="form-control" name="AdditionalExpenses" ng-model="client.AdditionalExpenses" />
                    </label>

                    <label>
                        Агент:
                        <select class="form-control" ng-model="client.AgentId">
                            <option ng-repeat="agent in $ctrl.agents" value="{{agent.Id}}">{{agent.FullName}}</option>
                        </select>
                    </label>

                    <label>
                        Цена агента:
                        <input type="number" class="form-control" ng-model="client.AgentPrice" />
                    </label>
                </div>

                <div class="col-xs-4 col-lg-3 clients-check-box-col">
                    <label>
                        Не выходит:
                        <input type="checkbox" ng-model="client.IsStayInBus" />
                    </label>

                    <label>
                        Багаж:
                        <input type="checkbox" ng-model="client.HasBaggage" />
                    </label>

                    <label>
                        Скидка:
                        <input type="checkbox" ng-disabled="true" ng-model="client.HasDiscount">
                    </label>

                    <label>
                        Ребенок:
                        <input type="checkbox" ng-disabled="true" ng-model="client.HasMinorChild">
                    </label>

                    <label>
                        Инвалид:
                        <input type="checkbox" ng-disabled="true" ng-model="client.HasDisability">
                    </label>

                    <button class="btn btn-success"
                            ng-disabled="!client.From || !client.To || !client.Price"
                            ng-click="$ctrl.addToTrip(client)"> Добавить
                    </button>
                </div>
            </div>
        </li>
    </ul>
</div>