<a ng-click="$ctrl.showAddForm()" style="cursor:pointer">Добавить маршрут</a>

<div class="row" ng-show="$ctrl.showAddTripForm">
    <form  name="form" class="trip-create-form col-xs-12" novalidate>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label>
                        Автобус:
                        <select class="form-control"
                                ng-model="$ctrl.trip.bus"
                                required
                                ng-options="bus.FriendlyName for bus in $ctrl.buses track by bus.Id"></select>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Водитель:
                        <div class="trip-driver-group">
                            <select class="form-control driver-select"
                                    ng-model="$ctrl.trip.driver"
                                    required
                                    ng-options="driver.FullName for driver in $ctrl.drivers track by driver.Id"></select>
                            <button class="btn btn-default" ng-click="$ctrl.openDriversList()"> + </button>
                        </div>
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Комментарий:
                        <input class="form-control" type="text" ng-model="$ctrl.trip.comments" />
                    </label>
                </div>

                <div class="form-group">
                    <label>
                        Дата отправления:
                        <div class="date-time-group">
                            <p class="input-group date-input">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="$ctrl.trip.startDate" datepicker-options="$ctrl.dateOptions" ng-required="true"
                                       close-text="Close" name="startDate" is-open="$ctrl.startDatePopup.opened" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.startDateOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                            <div uib-timepicker ng-model="$ctrl.trip.startTime" name="startTime"
                                 minute-step="$ctrl.timeOptions.minuteStep"
                                 show-meridian="ismeridian" ng-required="true">
                            </div>
                        </div>
                    </label>
                    <div ng-show="form.$submitted || form.startTime.$touched">
                        <span class="error" ng-show="form.startTime.$error.required">Это поле обязательное</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Дата прибытия:
                        <div class="date-time-group">
                            <p class="input-group date-input">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="$ctrl.trip.endDate" datepicker-options="$ctrl.dateOptions" ng-required="true"
                                       close-text="Close" name="endDate" is-open="$ctrl.endDatePopup.opened" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.endDateOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                            <div uib-timepicker ng-model="$ctrl.trip.endTime" name="endTime"
                                 minute-step="$ctrl.timeOptions.minuteStep"
                                 show-meridian="ismeridian" ng-required="true">
                            </div>
                        </div>

                        <div ng-show="form.$submitted || form.endTime.$touched">
                            <span class="error" ng-show="form.endTime.$error.required">Это поле обязательное</span>
                        </div>
                    </label>

                </div>

                <div class="form-group">
                    <label>
                        Откуда:
                        <select class="form-control" name="repeatFrom" id="repeatFrom"
                                ng-model="$ctrl.trip.cityFrom" required
                                ng-options="city.Name for city in $ctrl.cities track by city.Id"></select>                      
                    </label>
                    <div ng-show="form.$submitted">
                        <span class="error"
                              ng-show="form.repeatFrom.$error.required">Это поле обязательное</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>
                        Куда:
                        <select class="form-control" name="repeatTo" id="repeatTo"
                                ng-model="$ctrl.trip.cityTo" required
                                ng-options="city.Name for city in $ctrl.cities track by city.Id"></select>                      
                    </label>
                    <div ng-show="form.$submitted">
                        <span class="error" ng-show="form.repeatTo.$error.required">Это поле обязательное</span>
                    </div>
                </div>
            </div>

            <client-trip-list></client-trip-list>
        </div>  

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label class="text-center"> Oбязательные расходы: </label>

                <div class="form-group expense-input-row" ng-repeat="compulsory in $ctrl.trip.compulsoryExpenses">
                    <input type="number" class="form-control cost-input" ng-model="compulsory.Cost" />
                    <input type="text" class="form-control comment-input" ng-model="compulsory.Comment" />
                </div>

                <div class="form-group expense-input-row">
                    <input type="number" class="form-control cost-input" ng-model="$ctrl.compulsoryNewCost"
                           ng-blur="$ctrl.addCompolsoryExpense($ctrl.compulsoryNewCost, $ctrl.compulsoryNewComment)"/>

                    <input type="text" class="form-control comment-input" ng-model="$ctrl.compulsoryNewComment"
                            ng-blur="$ctrl.addCompolsoryExpense($ctrl.compulsoryNewCost, $ctrl.compulsoryNewComment)"/>

                    <button class="btn btn-default" ng-click="$ctrl.addCompolsoryExpense($ctrl.compulsoryNewCost, $ctrl.compulsoryNewComment)">
                        +
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label class="text-center"> Дополнительные расходы: </label>
                <div class="form-group expense-input-row" ng-repeat="unexpected in $ctrl.trip.unexpectedExpenses">
                    <input type="number" class="form-control cost-input" ng-model="unexpected.Cost" />
                    <input type="text" class="form-control comment-input" ng-model="unexpected.Comment" />
                </div>

                <div class="form-group expense-input-row">
                    <input type="number" class="form-control cost-input" ng-model="$ctrl.unexpectedNewCost"
                           ng-blur="$ctrl.addUnexpectedExpens($ctrl.unexpectedNewCost, $ctrl.unexpectedNewComment)" />

                    <input type="text" class="form-control comment-input" ng-model="$ctrl.unexpectedNewComment"
                           ng-blur="$ctrl.addUnexpectedExpens($ctrl.unexpectedNewCost, $ctrl.unexpectedNewComment)" />

                    <button class="btn btn-default" ng-click="$ctrl.addUnexpectedExpens($ctrl.unexpectedNewCost, $ctrl.unexpectedNewComment)">
                        +
                    </button>
                </div>
            </div>
            
            <div class="col-xs-12">
                <h4> Касса Водителя: <span class="attention">{{$ctrl.getDriverCashbox($ctrl.trip)}}</span></h4>
            </div>

            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-click="$ctrl.add()">
                        {{$ctrl.isEditMode ? 'Обновить' : 'Добавить'}}
                    </button>
                    <button class="btn btn-danger" ng-show="$ctrl.isEditMode" ng-click="$ctrl.disableEditMode()">
                        Отменить
                    </button>
                    <div ng-show="form.$submitted">
                        <span class="error" ng-show="form.$error.isAnyClient">Необходимо выбрать хотя бы одного клиента</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <span>
            Поиск:
            <input class="form-control" ng-model="$ctrl.query" />
        </span>
        <br />
        <uib-accordion close-others="oneAtATime" ng-repeat="trip in $ctrl.trips | filter:$ctrl.query">
            <div uib-accordion-group class="panel-default"
                 heading="{{trip.date | date:$ctrl.dateTimeFormat }} - {{trip.arrivalDate| date:$ctrl.dateTimeFormat}},
                 {{trip.bus.FriendlyName}} {{trip.bus.RegistrationNumber}} , Водитель {{trip.driver.FullName}} ,
                 Маршрут {{trip.cityFrom.Name}} ----> {{trip.cityTo.Name}}"
                 is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

                <div class="row">
                    <div class="col-xs-6">
                        <a ng-click="$ctrl.editTrip(trip)">Редактировать рейс</a>
                    </div>

                    <div class="col-xs-6">
                        <a class="create-trip pull-right" ng-click="$ctrl.createPDF(trip)">Сформировать рейс</a>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <td>Комментарий маршрута</td>
                            <td>Клиент</td>
                            <td>Телефон</td>
                            <td>Скидка</td>
                            <td>Комментарий клиента</td>
                            <td>Цена</td>
                            <td>Агент</td>
                            <td>Цена агента</td>
                            <td>Маршрут</td>
                            <td>Не выходит</td>
                            <td>Багаж</td>
                            <td>Ребенок</td>
                            <td>Инвалид</td>
                        </tr>
                        </thead>

                        <tr ng-repeat="client in trip.tripClients">
                            <td>{{trip.comments}}</td>
                            <td>{{client.Name}}</td>
                            <td>{{client.Phone}}</td>
                            <td ng-class="client.HasDiscount ? 'highlighting' : ''">{{client.HasDiscount ? 'Есть' : ''}}</td>
                            <td>{{client.Comments}}</td>
                            <td>{{client.Price}}</td>
                            <td>{{client.AgentName}}</td>
                            <td>{{client.AgentPrice}}</td>
                            <td>{{client.From}} --> {{client.To}}</td>
                            <td ng-class="client.IsStayInBus ? 'highlighting' : ''">{{client.IsStayInBus ? 'Да' : ''}}</td>
                            <td>{{client.HasBaggage ? 'Есть' : ''}}</td>
                            <td>{{client.HasMinorChild ? 'Да' : ''}}</td>
                            <td>{{client.HasDisability ? 'Да' : ''}}</td>
                        </tr>
                    </table>
                </div>
                <ng-map center="{{$ctrl.mapCenterLatLng}}" zoom="5"
                        map-initialized="$ctrl.mapInitialized(map, trip)" 
                         zoom-to-include-markers="auto"></ng-map>
                <a class="delete-trip" ng-click="$ctrl.delete(trip)">Удалить рейс</a>
            </div>
        </uib-accordion>
    </div>
</div>