<div>
    <a ng-click="$ctrl.showAddForm()" style="cursor:pointer">Добавить маршрут</a>
    <div class="row" ng-show="$ctrl.showAddTripForm">
        <div class="col-md-6">
            <form name="form" novalidate>
                <table class="trip-info">
                    <tr>
                        <td>Автобус: </td>
                        <td>
                            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="trip.busId">
                                <option ng-repeat="bus in $ctrl.buses" value="{{bus.Id}}">{{bus.FriendlyName}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Водитель: </td>
                        <td>
                            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="trip.driverId">
                                <option ng-repeat="driver in $ctrl.drivers" value="{{driver.Id}}">{{driver.Name}} {{driver.Sername}}</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-default" ng-click="$ctrl.openDriversList()"> + </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Комментарий: </td>
                        <td><input class="form-control" type="text" ng-model="trip.comments"/></td>
                    </tr>
                    <tr>
                        <td>Дата отправления: </td>
                        <td>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="trip.startDate" datepicker-options="$ctrl.dateOptions" ng-required="true"
                                       close-text="Close" name="startDate" is-open="$ctrl.startDatePopup.opened"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.startDateOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                            <div ng-show="form.$submitted || form.datetimepicker.$touched">
                                <span class="error" ng-show="form.startDate.$error.required">Это поле обязательное</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Время отправления: </td>
                        <td>
                            <div uib-timepicker ng-model="trip.startTime" name="startTime"
                                 minute-step="$ctrl.timeOptions.minuteStep"
                                 show-meridian="ismeridian" ng-required="true">
                            </div>
                            <div ng-show="form.$submitted || form.startTime.$touched">
                                <span class="error" ng-show="form.startTime.$error.required">Это поле обязательное</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Дата прибытия: </td>
                        <td>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}"
                                       ng-model="trip.endDate" datepicker-options="$ctrl.dateOptions" ng-required="true"
                                       close-text="Close" name="endDate" is-open="$ctrl.endDatePopup.opened"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.endDateOpen()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                            <div ng-show="form.$submitted || form.endDate.$touched">
                                <span class="error" ng-show="form.endDate.$error.required">Это поле обязательное</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Время прибытия: </td>
                        <td>
                            <div uib-timepicker ng-model="trip.endTime" name="endTime"
                                 minute-step="$ctrl.timeOptions.minuteStep"
                                 show-meridian="ismeridian" ng-required="true">
                            </div>
                            <div ng-show="form.$submitted || form.endTime.$touched">
                                <span class="error" ng-show="form.endTime.$error.required">Это поле обязательное</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Откуда: </td>
                        <td>
                            <select class="form-control" name="repeatFrom" id="repeatFrom" ng-model="trip.cityFrom" required>
                                <option ng-repeat="city in $ctrl.cities" value="{{city.Id}}">{{city.Name}}</option>
                            </select>
                            <div ng-show="form.$submitted || form.repeatFrom.$touched">
                                <span class="error" 
                                      ng-show="form.repeatFrom.$error.required">Это поле обязательное</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Куда: </td>
                        <td>
                            <div class="control-group" ng-class="{true: 'error'}[submitted && form.repeatTo.$invalid]">
                                <select class="form-control" name="repeatTo" id="repeatTo" ng-model="trip.cityTo"
                                        ng-options="city.Id as city.Name for city in $ctrl.cities" required>
                                    <option ng-repeat="city in $ctrl.cities" value="{{city.Id}}">
                                        {{city.Name}}
                                    </option>
                                    <option></option>
                                </select>
                                <div ng-show="form.$submitted || form.repeatFrom.$touched">
                                    <span class="error" ng-show="form.repeatTo.$error.required">Это поле обязательное</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <<td>
                            <div class="trip-separator"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Обязательные расходы: </td>
                        <td>
                            <input type="number" class="form-control" name="compulsoryExpenses"
                                   ng-model="trip.compulsoryExpenses" required/>
                            <div ng-show="form.$submitted || form.compulsoryExpenses.$touched">
                                <span class="error"
                                      ng-show="form.compulsoryExpenses.$error.required">Это поле обязательное</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Дополнительные расходы: </td>
                        <td>
                            <input type="number" class="form-control" ng-model="trip.unexpectedExpenses" />
                        </td>
                    </tr>
                    <tr>
                        <td>Коментарий (доп. расходы): </td>
                        <td>
                            <input type="text" class="form-control" ng-model="trip.unexpectedExpensesComments" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary"
                                    ng-click="$ctrl.add(trip)">
                                Добавить
                            </button>
                            <div ng-show="form.$submitted">
                                <span class="error" ng-show="form.$error.isAnyClient">Необходимо выбрать хотя бы одного клиента</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <client-trip-list></client-trip-list>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <span>
                Поиск:
                <input class="form-control" ng-model="$ctrl.query" />
            </span>
            <br />
            <uib-accordion close-others="oneAtATime" ng-repeat="trip in $ctrl.trips | filter:$ctrl.query">
                <div uib-accordion-group class="panel-default"
                     heading="{{trip.date | date:$ctrl.dateTimeFormat }} - {{trip.arrivalDate| date:$ctrl.dateTimeFormat}}, {{trip.busName}}, Маршрут: {{trip.cityFromName}} ----> {{trip.cityToName}}"
                     is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <a class="create-trip" ng-click="$ctrl.createPDF(trip)">Сформировать рейс</a>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <td>Комментарий маршрута</td>
                            <td>Клиент</td>
                            <td>Телефон</td>
                            <td>Скидка</td>
                            <td>Комментарий клиента</td>
                            <td>Цена</td>
                            <td>Агент</td>
                            <td>Цена агента</td>
                            <td>Маршрут</td>
                            <td>Не выходит</td>
                            <td>Багаж</td>
                            <td>Ребенок</td>
                            <td>Инвалид</td>
                        </tr>
                        </thead>
                        <tr ng-repeat="client in trip.clients">
                            <td>{{trip.comments}}</td>
                            <td>{{client.Name}}</td>
                            <td>{{client.Phone}}</td>
                            <td ng-class="client.HasDiscount ? 'highlighting' : ''">{{client.HasDiscount ? 'Есть' : ''}}</td>
                            <td>{{client.Comments}}</td>
                            <td>{{client.Price}}</td>
                            <td>{{client.AgentName}}</td>
                            <td>{{client.AgentPrice}}</td>
                            <td>{{client.From}} --> {{client.To}}</td>
                            <td ng-class="client.IsStayInBus ? 'highlighting' : ''">{{client.IsStayInBus ? 'Да' : ''}}</td>
                            <td>{{client.HasBaggage ? 'Есть' : ''}}</td>
                            <td>{{client.HasMinorChild ? 'Да' : ''}}</td>
                            <td>{{client.HasDisability ? 'Да' : ''}}</td>
                        </tr>
                    </table>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>