<div class="clients col-md-10 row gridContainer">
  <a ng-click="$ctrl.addClient()">Добавить клиента</a>
  <div>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Комментарий</th>
            <th>Скидка</th>
            <th>Несоверш. ребенок</th>
            <th>Инвалид</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="client in $ctrl.clients" class="repeat-animation">
            <td><a ng-click="$ctrl.editClient(client)">{{client.Name}}</a></td>
            <td>{{client.Phone}}</td>
            <td>{{client.Comments}}</td>
            <td>{{client.HasDiscount ? 'Есть' : ''}}</td>
            <td>{{client.HasMinorChild ? 'Есть' : ''}}</td>
            <td>{{client.HasDisability ? 'Да' : ''}}</td>
            <td><button class="btn btn-primary" ng-click="$ctrl.deleteClient(client.Id)">Удалить</button></td>
            <td><button class="btn btn-primary" ng-click="$ctrl.clientInfo(client)">Информация</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>