<div class="col-md-6">
    <table>
        <tr ng-repeat="client in $parent.$ctrl.trip.tripClients">
            <td class="col-md-4"> {{client.Name}} </td>
            <td class="col-md-4"> {{client.Phone}} </td>
            <td class="col-md-4"> {{client.From}} </td>
            <td class="col-md-4"> {{client.To}} </td>
            <td class="col-md-4"> {{client.price}} </td>
            <td class="col-md-4">
                <a ng-click="$ctrl.removeFromTrip(client)">Удалить </a>
            </td>
        </tr>
    </table>
    <span>
        <a ng-click="$ctrl.showAddClientBlock()">Добавить клиента</a>
    </span>
    <client-crud ng-show="$ctrl.addClientBlockVisible"></client-crud>
    <p>
        <span>
            Поиск:
            <input class="form-control" ng-model="$ctrl.query" />
        </span>
        <span>
            Сортировать:
            <select class="form-control" ng-model="$ctrl.orderProp">
                <option value="Name">По алфавиту</option>
                <option value="Id">По дате добавления</option>
            </select>
        </span>
    </p>
    <ul class="Clients">
        <li ng-repeat="client in $ctrl.clients | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail client-list-item">
            <table class="clients-trip">
                <tr>
                    <td class="info">
                        <a href="#/clients/{{client.Id}}">{{client.Name}}</a>
                        <p>{{client.Phone}}</p>
                    </td>
                  <td class="options">
                    <div>
                      <label>
                        Откуда:
                      </label>
                      <select class="form-control" name="repeatFrom" id="repeatFrom" ng-model="client.From" required>
                        <option ng-repeat="city in $ctrl.cities" value="{{city.Name}}">{{city.Name}}</option>
                      </select>                      
                    </div>
                    <div>
                      <label>
                        Куда:
                      </label>
                      <select class="form-control" name="repeatTo" id="repeatTo" ng-model="client.To" required>
                        <option ng-repeat="city in $ctrl.cities" value="{{city.Name}}">{{city.Name}}</option>
                      </select>
                    </div>
                    <div>
                      <label>
                        Цена:
                      </label>
                      <input type="text" class="form-control" name="price" ng-model="client.price" required />                      
                    </div>
                  </td>
                    <td class="button-area">
                        <label>
                            Скидка:
                            <input type="checkbox" ng-disabled="true" ng-model="client.HasDiscount">
                        </label>
                        <button class="btn btn-success" ng-click="$ctrl.addToTrip(client)">Добавить</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p>{{client.Comments}}</p>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>