<div class="col-md-8">
    <table>
        <tr ng-repeat="client in $ctrl.tripClients">
            <td class="col-md-4"> {{client.Name}} </td>
            <td class="col-md-4"> {{client.Phone}} </td>
            <td class="col-md-4">
                <a ng-click="$ctrl.removeFromTrip(client)">Удалить </a>
            </td>
        </tr>
    </table>
    <p>
        Поиск:
        <input ng-model="$ctrl.query" />
    </p>
    <client-crud></client-crud>
    <p>
        Сортировать:
        <select ng-model="$ctrl.orderProp">
            <option value="Name">По алфавиту</option>
            <option value="Id">По дате добавления</option>
        </select>
    </p>
    <ul class="Clients">
        <li ng-repeat="client in $ctrl.clients | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail client-list-item">
            <a href="#!/clients/{{client.Id}}">{{client.Name}}</a>
            <p>{{client.Phone}}</p>
            <p>{{client.Comments}}</p>
            <label>
                Скидка:
                <input type="checkbox" ng-disabled="true" ng-model="client.HasDiscount">
            </label>
            <button ng-click="$ctrl.addToTrip(client)">Добавить в маршрут</button>
        </li>
    </ul>
</div>