body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

/* View: Phone list */
.clients {
  list-style: none;
}

.clients li {
  clear: both;
  height: 150px;
  padding-top: 15px;
}

.thumb {
  float: left;
  height: 100px;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  width: 100px;
}

.thumbnail {
    height: 220px;
}

.client {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 500px;
}

.phone:first-child {
  display: block;
}

.client-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.client-thumbs {
  list-style: none;
  margin: 0;
}

.client-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.client-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}

a {
   cursor:pointer;
}

.error {
  color: red;  
}

.highlighting {
color: chartreuse;
}

 .form-group div {
    position:relative;
    margin-right:15px;
}

.form-group div:after {
    position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}

table.clients-trip td.info {
  width : 130px;
}

table.clients-trip td.options {
  width : 300px;
}

.options div{
    float: left;
    width: 100%;
    height: 20%;
}

.options label {
  width: 40%;
  float: left;
  font-weight: normal;
  padding: 6px;
}

.options select, td.options input {
  width: 60%;
  float: right;
}
.options input[type='checkbox']{
  width: initial;
  float: left;
  margin: 10px 0 0;
}

table.clients-trip td.button-area {
  padding : 10px
}

.Clients {
  padding-left: 0;
}

.gridContainer thead {
      border-bottom: 2px solid #ddd;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

.modal-body {
  display:block;
  overflow:auto;
}
.modal-body table {
  width: 80%;
}

.modal-body input {
  margin-bottom: 10px;
  float: left;
}